/* styles.css */

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #2d75ff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5rem;
}

/* Section Styles */
section {
    padding: 50px 0;
}

.bg-dark {
    background-color: #212529;
    color: #fff;
}

.bg-primary {
    background-color: #222831 !important;
    color: #fff;
}

.bg-success {
    background-color: #30475E !important;
    color: #fff;
}

.bg-warning {
    background-color: #DDDDDD !important;
    color: #333;
}

.bg-info {
    background-color: #17a2b8;
    color: #fff;
}

.bg-light {
    background-color: #f8f9fa;
}

.bg-dark.text-white {
    color: #fff;
}

.bg-primary.text-white {
    color: #fff;
}

.bg-success.text-white {
    color: #fff;
}

.bg-warning.text-white {
    color: #333;
}

.bg-info.text-white {
    color: #fff;
}

/* Navigation Bar */
.navbar {
    background-color: #0081C9; /* Change the background color to a darker shade (#2c3e50) */
    position: relative;
    z-index: 1001;
    padding: 10px; /* Add padding to the navigation bar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    transition: top 0.4s;
}

.navbar-brand {
    font-size: 1.6rem; /* Increase the font size of the title */
    font-weight: bold; /* Add bold font weight to the title */
    padding-left: 20px; /* Add padding to the left of the title */
    padding-right: 20px;
    color: #fff; /* Change the title text color to white */
}

.navbar-nav {
    text-align: center;
    padding-left: 100px;
}

.nav-item {
    display: flex;
    white-space: nowrap;
    padding: 5px 25px;
}

.nav-link,
.navbar-dark .navbar-nav .nav-link {
    color: #fff; /* Change the link text color to white */
    text-decoration: none;
    padding: 5px 20px; /* Adjust the horizontal padding between links */
    transition: background-color 0.2s ease, transform 0.4s ease; /* Add smooth transitions on hover */
    border-bottom: 2px solid white;
}

.nav-link:hover {
    text-decoration: none;
    background-color: rgba(250, 8, 8, 0.1); /* Add a background color on hover */
    border-radius: 3px; /* Add a slight border radius on hover */
    transform: scale(1.1); /* Add a slight scale effect on hover */
    transition: background-color 0.2s ease, transform 0.4s ease;
}

/* Custom CSS for Absolute Left Logo/Title */
@media (min-width: 768px) {
    .navbar-brand {
        position: absolute;
        left: 20px; /* Adjust as needed */
    }

    #navbarCollapse {
        margin-left: 50%; /* Adjust as needed */
        transform: translateX(-50%);
    }
}

/* Add new class for fixed navbar */
.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    animation: ease 0.4s; /* Add a slide-down animation when the navbar becomes fixed */
}


/* Hero Section */
#hero {
    position: relative;
    height: 100vh; /* Set the height to full viewport height */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Set text color to white */
}

#hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    margin-top: 40px;
}

#hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#hero .btn {
    font-size: 1.2rem;
    padding: 15px 30px;
    background-color: #0081C9;
    border-radius: 5px;
}

#hero .btn:hover {
    font-size: 1.2rem;
    padding: 15px 30px;
    background-color: #0571ac;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

#hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

#hero .container {
    position: relative;
    z-index: 1;
    text-align: center;
}

/*About the team*/

/* Add a style for the image container to create a grid layout */
#team .image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns for About the Team images */
    gap: 20px; /* Add gap between images */
    justify-items: center; /* Center items horizontally within each column */
    margin: 0px 20px 0px 20px;
}

/* Add a style for the image box to center the images and descriptions */
#team .image-box {
text-align: center;
}

#team .image-box img {
max-width: 100%;
height: auto;
border: 2px solid #FFC93C;
}

#team .description {
margin-top: 10px;
display: flex;
justify-content: center;
}

#team .description b {
    font-size: 1.5rem;
}

/*Design*/
#design {
    overflow: hidden;
}


/* Add a style for the image container to create a grid layout */
#design .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 5 columns for About the Team images */
    gap: 10px; /* Add gap between images */
    justify-items: center; /* Center items horizontally within each column */
    margin-left: 10px;
    margin-right: 20px;
}

/* Add a style for the image box to center the images and descriptions */
#design .image-box {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#design .image-box img {
max-width: 100%;
max-height: 600px;
border: 2px solid #FFC93C;
}

#design .description {
margin-top: 10px;
padding: 10px 40px 0px 40px;
max-width: 800px;
text-align: left;
}


#design .animated-video {
    border: 2px solid #FFC93C;
    max-width: 800px;
    display: flex;
    align-items: right;
    margin-top: 80px;
    margin-left: 20px;
}

#design .video-description {
    display: flex;
    justify-content: left;
    text-align: left;
    margin-top: 105px;
}

/*Findings*/
#results {
    overflow: hidden;
}

#results img {
    max-width: 500px;
    max-height: 800px;
    margin-left: 20px;
    border: 4px solid #0571ac;
}

#results .image-box{
    display: flex;
    justify-content: center;
}

#results .animated-video {
    border: 4px solid #0571ac;
}

#results .video-description {
    display: flex;
    justify-content: center;
}

#results .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 5 columns for About the Team images */
    gap: 20px; /* Add gap between images */
    justify-items: center; /* Center items horizontally within each column */
    margin-left: 20px;
    margin-right: 20px;
}

/* Add a style for the image box to center the images and descriptions */
#results .image-box {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#results .image-box img {
max-width: 100%;
height: auto;
}

#results .description {
margin-top: 10px;
padding: 10px 40px 0px 40px;
text-align: center;
}





/* Footer Styles */
footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* Link Styles */
a {
    color: #2d75ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Additional Styles */
img {
    max-width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Lines Under Headings */
section h2,
section h3,
section h4,
section h5,
section h6 {
    border-bottom: 2px solid #FFC93C;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#results h2 {
    border-bottom: 2px solid #2d75ff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


