/* styles.css */

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #2d75ff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5rem;
}

/* Section Styles */
section {
    padding: 50px 0;
}

.bg-dark {
    background-color: #212529;
    color: #fff;
}

.bg-primary {
    background-color: #222831 !important;
    color: #fff;
}

.bg-success {
    background-color: #30475E !important;
    color: #fff;
}

.bg-warning {
    background-color: #DDDDDD !important;
    color: #333;
}

.bg-info {
    background-color: #17a2b8;
    color: #fff;
}

.bg-light {
    background-color: #f8f9fa;
}

.bg-dark.text-white {
    color: #fff;
}

.bg-primary.text-white {
    color: #fff;
}

.bg-success.text-white {
    color: #fff;
}

.bg-warning.text-white {
    color: #333;
}

.bg-info.text-white {
    color: #fff;
}

/* Navigation Bar */
.navbar {
    background-color: #0081C9 !important;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin-left: 15px;
    
}
.navbar-container {
    display: flex;
    justify-content: space-between; /* Distribute elements horizontally */
    align-items: center; /* Center elements vertically */
}
.nav-link {
    color: #fff !important;
    text-decoration: none;
    border-bottom: 2px solid white;
    transition: background-color 0.2s ease, transform 0.4s ease;
}

.nav-link:hover {
    background-color: rgba(250, 8, 8, 0.1);
    border-radius: 3px;
    transform: scale(1.1);
    transition: background-color 0.2s ease, transform 0.4s ease;
    
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Adjust the z-index as needed */
}

/* Hamburger Icon Styles */
.navbar-toggler {
    border: none;
    background: transparent;
    cursor: pointer;
}

.navbar-toggler-icon {
    width: 20px;
    height: 20px;
    background-color: #fff;
}


/* Center the links for larger screens */
@media (min-width: 768px) {
    .navbar .navbar-container {
        display: flex;
        justify-content: space-between; /* Align title to the left and links to the right */
        align-items: center; /* Center elements vertically */
    }

    .navbar-nav {
        position: absolute; /* Position the links absolutely within the container */
        top: 50%; /* Position the links 50% from the top */
        left: 50%; /* Position the links 50% from the left */
        transform: translate(-50%, -50%); /* Center the links properly */
        display: flex;
        justify-content: center; /* Center the links */
        align-items: center; /* Vertically center the links */
        gap: 10px; /* Add some gap between the links for spacing */
        flex-wrap: wrap; /* Allow links to wrap to a new line if needed */
    }

    .nav-item {
        margin: 0 10px; /* Adjust the margin as needed */
        
    }
}

/* Adjust Navbar for Bigger Screens */
@media (min-width: 992px) {
    .navbar-container {
        padding: 0 20px; /* Add some padding on the sides for spacing */
        max-width: 100%; /* Ensure the navbar container takes full width */
    }

    .navbar-links {
        display: flex;
        justify-content: center; /* Center the links */
        gap: 20px; /* Add some gap between the links for spacing */
    }

    .navbar-title {
        margin-right: 0; /* Remove the previous margin-right */
    }
}



/* Center the title for smaller screens */
@media (max-width: 767px) {
    .navbar .container {
        display: flex;
        justify-content: center;
    }

    .navbar-nav {
        display: none;
    }

    .navbar-links.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-links.active .nav-item {
        margin: 10px 0;
    }

    /* Adjust title size for smaller screens */
    .navbar-brand {
        font-size: 1.2rem;
        transform: translate(-50%, -50%);
        max-width: 100%;
    }
}

/* Adjust Navbar for Screens between 992px and 1768px */
@media (min-width: 992px) and (max-width: 1768px) {
    .navbar .navbar-container {
        justify-content: center;
    }

    .navbar-nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .nav-item {
        margin: 5px; /* Add some space around the links */
        flex-basis: calc(25% - 10px); /* Ensure each link takes up at most 25% of the container width minus margins */
        max-width: 150px; /* Set a maximum width for each link */
        white-space: nowrap; /* Prevent link text from wrapping */
        overflow: visible; /* Hide any overflowing text */
        font-size: 0.9vw;
    }

    .nav-link a{
        font-size: 0.4vw;
    }

    /* Adjust title size for screens between 992px and 1768px */
    .navbar-brand {
        font-size: 1.2rem;
        font-size: 1.5vw;
    }
}
/* Hero Section */
#hero {
    position: relative;
    height: 100vh; /* Set the height to full viewport height */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Set text color to white */
}

#hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    margin-top: 40px;
}

#hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#hero .btn {
    font-size: 1.2rem;
    padding: 15px 30px;
    background-color: #0081C9;
    border-radius: 5px;
}

#hero .btn:hover {
    font-size: 1.2rem;
    padding: 15px 30px;
    background-color: #0571ac;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}


#hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

#hero .container {
    position: relative;
    z-index: 1;
    text-align: center;
}

/*About the team*/

/* Add a style for the image container to create a grid layout */
#team .image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns for About the Team images */
    gap: 20px; /* Add gap between images */
    justify-items: center; /* Center items horizontally within each column */
    margin: 0px 20px 0px 20px;
}

/* Add a style for the image box to center the images and descriptions */
#team .image-box {
text-align: center;
}

#team .image-box img {
max-width: 100%;
height: auto;
border: 3px solid #FFC93C;
}

#team .description {
margin-top: 10px;
display: flex;
justify-content: center;
}

#team .description b {
    font-size: 1.5rem;
    padding-left: 5px ;
    padding-right: 5px ;
    border-bottom: 1px solid #FFC93C;
}

/*Design*/
#design {
    overflow: hidden;
}

/* Add a style for the image container to create a 2 by 2 grid layout */
#design .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns for the images and videos */
    grid-template-rows: auto auto; /* 2 rows for images and descriptions */
    gap: 20px; /* Add gap between images and videos */
    justify-items: center; /* Center items horizontally within each column */
    margin-left: 10px;
    margin-right: 20px;
}

/* Add a style for the image box to center the images and descriptions */
#design .grid-item.image-box img {
    max-width: 100%;
    max-height: 600px;
    border: 2px solid #FFC93C;
}

#design .grid-item.video-box video {
    max-width: 800px;
    max-height: 100%;
    border: 2px solid #FFC93C;
    justify-content: center;
}

#design .description {
    margin-top: 10px;
    padding: 10px;
    max-width: 800px;
    text-align: left;
}

/* Apply the same styling to both descriptions */
#design .description {
    text-align: left;
    margin-top: 20px;
    display: block;
    max-height: auto;
}

/* Define grid areas for layout */
@media (min-width: 768px) {
    #design .image-container {
        grid-template-areas:
            "image1 video1"
            "desc1 desc2"; /* Define grid layout */
    }

    #design .image-box {
        grid-area: image1; /* Place the image box in the specified grid area */
    }

    #design .video-box {
        grid-area: video1; /* Place the video box in the specified grid area */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #design .desc1 {
        grid-area: desc1; /* Place the first description in the specified grid area */
        display: block;
        
    }

    #design .desc2 {
        grid-area: desc2; /* Place the second description in the specified grid area */
        display: block;
    }
}


/*Findings*/
#results {
    overflow: hidden;
}

#results img {
    max-width: 500px;
    max-height: 800px;
    margin-left: 20px;
    border: 4px solid #0571ac;
}

#results .image-box{
    display: flex;
    justify-content: center;
}

#results .animated-video {
    border: 4px solid #0571ac;
}

#results .video-description {
    display: flex;
    justify-content: center;
}

#results .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 5 columns for About the Team images */
    gap: 20px; /* Add gap between images */
    justify-items: center; /* Center items horizontally within each column */
    margin-left: 20px;
    margin-right: 20px;
}

/* Add a style for the image box to center the images and descriptions */
#results .image-box {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#results .image-box img {
max-width: 100%;
height: auto;
}

#results .description {
margin-top: 10px;
padding: 10px 40px 0px 40px;
text-align: center;
}





/* Footer Styles */
footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* Link Styles */
a {
    color: #2d75ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Additional Styles */
img {
    max-width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Lines Under Headings */
section h2,
section h3,
section h4,
section h6 {
    border-bottom: 2px solid #FFC93C;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

section h5 {
    font-size: 2rem;
}

#results h2 {
    border-bottom: 2px solid #2d75ff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


